:global {
    .anticon-menu-unfold {
        font-size: 20px;
        color: white;
    }

    .ant-badge-count {
        top: 12px;
        right: 12px;
        height: 12px;
        line-height: 12px;
        min-width: 12px;
        font-size: 10px;
        line-height: 10px;
        box-shadow: none;
        padding: 0 4px;
    }
}

:local {
    .menuContainer {
        display: flex;
        background: #001529;
        border-right: none;
    }

    .menuItem:global(.ant-menu-item.ant-menu-item-selected),
    .menuItem:global(.ant-menu-item.ant-menu-item-selected):hover{
        background-color: #002140;
        span {
            color: white;
        }
    }

    .menuItem:global(.ant-menu-item):hover span, {
        background-color: transparent;
        color: #d8d0ff;
    }

    .menuItem:global(.ant-dropdown-menu-item):hover {
        background: transparent;
        span {
            color: #d8d0ff;
        }
    }

    .menuItem:global(.ant-dropdown-menu-item-selected),
    .menuItem:global(.ant-dropdown-menu-item-selected) a,
    .menuItem:global(.ant-dropdown-menu-item-selected):hover {
        background-color: #002140;
        span {
            color: white;
        }
    }

    .menuItem {
        display: flex;
        color: white;
        flex-direction: row;
        align-items: center;
        padding-top: 4px;
    }

    .vertical {
        flex-direction: column;
    }

    .horizontal {
        flex-direction: row;
    }

    .itemText {
        margin-left: 5px;
        color: white;
    }

    @media (max-width: 580px) {
        .header {
            padding: 0 5px;
        }
    }
}