:local {
    .actionsContainer {
        display: flex;
    }

    .actionsContainer i:hover {
        cursor: pointer;
    }

    :global(.ant-list-item).friendRow {
        align-items: flex-end;
    }

    .actionsDivider {
        height: 1.4em;
    }
}