/* @import "~antd/lib/card/style/index.less";*/

:global {
    .ant-card.ant-card-bordered {
        margin-bottom: 5px;
    }

    .ant-card.ant-card-wider-padding > .ant-card-body{
        padding: 16px;
    }
};

:local {
    .chatContainer {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 89px);
        overflow: hidden;
    }

    .chatHeader {
        height: 45px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
    }

    .messagesContainer{
        flex: 1 1 auto;
        padding: 5px 0;
        overflow-x: hidden;
    }

    .inputContainer {
        display: flex;
        flex-shrink: 0;
        height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .cardStyle {
        margin-bottom: 5px;
    }

    .cardStyle.ant-card-wider-padding > .cardStyle > div {
        padding: 16px;
    }

    .cardStyle > div {
        padding: 16px;
    }

    .notification span {
        font-weight: 900;
    }

    .notification {
        margin-bottom: 0;
    }

    .button {
        flex-shrink: 0;
        margin-left: 10px;
    }

    .markerContainer {
        display: flex;
        flex-shrink: 0;
        height: 30px;
        align-items: baseline;

        p {
            margin-bottom: 0;
        }
    }

    .transparent {
        opacity: 0;
    }
}