:local {
    .chatContainer {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 89px);
        overflow: hidden;
    }

    .chatContainer :global( .ant-card.ant-card-bordered ) {
        margin-bottom: 5px;
    }

    .chatContainer :global( .ant-card.ant-card-wider-padding > .ant-card-body ) {
        padding: 16px;
    }

    .cardStyle :global(.ant-avatar-square.ant-avatar-image),
    .cardStyle :global(.ant-avatar-square.ant-avatar-icon) {
        box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.15);
    }

    .chatHeader {
        height: 45px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
    }

    .messagesContainer{
        flex: 1 1 auto;
        padding: 5px 0;
        overflow-x: hidden;
    }

    .cardStyle {
        margin-bottom: 5px;
    }

    .cardStyle.ant-card-wider-padding > .cardStyle > div {
        padding: 16px;
    }

    .cardStyle > div {
        padding: 16px;
    }

    .messageHeader {
        display: flex;
        justify-content: space-between;
    }

    .messageHeader span {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }

    .notification span {
        font-weight: 900;
    }

    .notification {
        margin-bottom: 0;
    }

    .button {
        flex-shrink: 0;
        margin-left: 10px;
    }

    .markerContainer {
        display: flex;
        flex-shrink: 0;
        height: 30px;
        align-items: baseline;

        p {
            margin-bottom: 0;
        }
    }

    .transparent {
        opacity: 0;
    }
}