:global {
    .ant-layout-sider-trigger {
        bottom: 24px;
        height: 40px;
        line-height: 40px;
    }
}

:local {
    .header {
        height: 32px;
        background-color: #f0f2f5;
    }

    .headerHidden {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
